body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #1f2937;
    padding: 20px;
}

.top-header {
    display: flex;
    color: #F9faf8;
    font-size: 24px;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.parttwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: #F9faf8;
    padding: 50px; /* Added padding to parttwo for better spacing */
}

.text-section {
    max-width: 50%;
    padding-right: 20px; /* Adjust padding to create space between text and image */
}

.maintext {
    font-size: 48px;
    font-weight: bold;
    padding: 20px 0;
}

.flavortext {
    color: #e5e7eb;
    margin: 10px 0;
    padding-right: 300px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #3882f6;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.image {
    flex-shrink: 0; 
    padding-top: 50px;
    padding-right: 300px;
    padding-bottom: 100px;
}

.image img {
    max-width: 100%; 
    height: auto;
    max-height: 300px; 
    object-fit: cover; 
    
}


.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 50px;
    
}

.boxes {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item {
    width: 175px;
    height: 175px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.box-text {
    margin-top: 10px;
    text-align: center;
    color: #1f2937;
    font-size: 16px;
    padding: 5px;
    width: 150px;
    padding-bottom: 100px;
}

.new-container {
    height: 450px;
    padding: 16px;
    background: #E5E7EB;
    border: 1px solid #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    width: 800px;
    height: 275px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    text-align: justify;
    padding: 20px;
    position: relative;
}

.quote-text {
    margin-bottom: 20px; 
}

.quote-author {
    
    position: absolute;
    bottom: 40px;
    right: 10px;
    font-size: 26px;
    color: #1f2937;
    font-weight: bold;
    
}

.last-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 10px;
    margin: 150px;
    margin-left: 400px;
    margin-right: 400px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 40px;
}

.last-box {
    flex: 1;
    text-align: left;
}

.last-text {
    font-size: 24px;
    color: white;
}

.last-subtext {
    font-size: 18px;
    color: white;
    margin-top: 10px;
}

#second {
    padding: 10px 30px;
    padding-bottom: 10px;
    font-size: 18px;
    color: white;
    background-color: #3882f6;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}